<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Store</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/assets/favicon/icon_logo.png">
</head>
<body>
    <header>
        <nav>
            <a href="#"><img src="../static/assets/img/logo.png" alt="logo"></a>
        </nav>
    </header>
    <main>
        <div class="formulario">
            <div class="title">
                <h1>Crie sua conta</h1>
                <p>Já possui uma conta? Entre <a href="#">aqui</a>.</p>
            </div>
            <div class="conta">
                <h4>Email*</h4>
                <input type="email" placeholder="Insira seu email">
                <button type="button">Criar Conta</button>
            </div>
            <div class="outrologin">
                <p>Ou faça login com</p>
                <div class="img">
                    <a href="#"><img src="../static/assets/img/gmail.svg" alt="gmail"></a>
                    <a href="#"><img src="../static/assets/img/facebook.svg" alt="facebook"></a>
                </div>
            </div>
        </div>
    </main>
    <section id="contato">
        <div class="rodape">
            <div class="sobre">
                <img src="../static/assets/img/logo.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ex perferendis omnis, dolores explicabo ipsa aliquam. Quos doloremque optio ut animi quisquam officia, tenetur provident distinctio adipisci unde temporibus aliquid!</p>
            </div>
            <a href="#"><img src="../static/assets/img/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="../static/assets/img/gmail.svg" alt="instagram"></a>
            <a href="#"><img src="../static/assets/img/facebook.svg" alt="x"></a>
            <div class="informacao">

            </div>
            <div class="contatos">

            </div>
        </div>
    </section>
    <footer>
        <p>@ 2024 Digital College</p>
    </footer>
</body>
</html>