* {
    margin: 0;
    padding: 0;
}
@media (min-width:600px) and (max-width:768px){
nav{
    width: 100vw;
    height: 10vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    border: 1px rgb(69, 9, 189) solid;
    width: 100vw;
    height: 90vh;
}
.formulario{
    border: red 1px solid;
}
}