@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {}

* {
    margin: 0;
    padding: 0;
}

@media (min-width:375px) and (max-width:768px) {
    nav {
        background-color: red;
        /*excluir  widht: 315px  height: 411px*/
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a img{
        width: 11rem;
        height: auto;
    }

    main {
        border: 3px rgb(9, 189, 21) solid;
        /*excluir*/
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formulario {
        border: rgb(43, 255, 0) 1px solid;
        /*excluir*/
        width: 84vw;
        height: 51.05vh;
        border-radius: 0.2rem;
    }

    .formulario .title {
        border: red 1px solid;
        /*excluir*/
        width: auto;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 0.5rem;
    }

    .formulario .title h1 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 1.375rem;
    }

    .formulario .title p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
    }

    .formulario .title p a {
        color: #000;
    }

    .formulario .conta {
        border: rgb(199, 15, 220) 1px solid;
        /*excluir*/
        width: auto;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    .formulario .outrologin {
        border: red 1px solid;
        /*excluir*/
        width: auto;
        height: 15vh;
    }
}