@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font_primaria: "Inter", sans-serif;
    --font_weight_normal: 400;
    --font_weight_bold: 700;
    --cor_primario: #C92071;
    --cor_segundaria: #FFFFFF;
    --cor_terciaria: #000000;
    --cor_input: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width:375px) and (max-width:768px) {
    nav {
        background-color: var(--cor_segundaria);
        /*excluir  widht: 315px  height: 411px*/
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a img {
        width: 11rem;
        height: auto;
    }

    main {

        background: linear-gradient(180deg, rgba(187, 188, 244, 1) 0%, rgba(206, 207, 248, 1) 100%);
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formulario {
        background-color: var(--cor_segundaria);
        width: 84vw;
        height: 60vh;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formulario .title {
        width: auto;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 0.5rem;
    }

    .formulario .title h1 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 1.375rem;
    }

    .formulario .title p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
    }

    .formulario .title p a {
        color: var(--cor_terciaria);
    }

    .formulario .conta {
        width: auto;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .formulario .conta h4 {
        font-family: var(--font_primaria);
        font-weight: var(--font_weight_bold);
        margin-bottom: 1rem;
        align-self: flex-start;
    }

    .formulario .conta input {
        width: 68vw;
        height: 8.5vh;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        background-color: #47474714;
        padding-left: 0.5rem;
        font-size: 1rem;
        color: var(--cor_input);
        margin-bottom: 2rem;
    }

    .formulario .conta button {
        width: 68vw;
        height: 7vh;
        font-family: var(--font_primaria);
        font-weight: var(--font_weight_bold);
        font-size: 1.1rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        background-color: var(--cor_primario);
        color: var(--cor_segundaria);
        cursor: pointer;
        transition: 0.5s ease;


    }

    .formulario .conta button:hover {
        background-color: #f04799;
        color: var(--cor_terciaria);
    }

    .formulario .outrologin {
        width: auto;
        height: 15vh;
        font-family: var(--font_primaria);
        font-weight: var(--font_weight_bold);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.3rem;
    }

    .formulario .outrologin .img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .formulario .outrologin .img img {
        width: 2rem;
    }

    .rodape {
        background-color: var(--cor_terciaria);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 3rem 2rem;
    }

    .rodape .sobre img {
        width: 10rem;
        display: flex;
        margin-bottom: 1rem;
    }

    .rodape .sobre p {
        color: var(--cor_segundaria);
        font-family: var(--font_primaria);
        font-size: 0.9rem;
        margin-bottom: 2rem;
    }

    .rodape .icones img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 2rem;
    }

    .rodape .informacao {
        color: var(--cor_segundaria);
        font-family: var(--font_primaria);
        font-weight: var(--font_weight_normal);
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .rodape .informacao .informacao1 h4 {
        font-family: var(--font_primaria);
        font-weight: var(--font_weight_normal);
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
    }

    .rodape .informacao .informacao1 li {
        list-style: none;
        margin-bottom: 0.5rem;
    }

    .rodape .informacao .informacao1 li a {
        color: var(--cor_segundaria);
        text-decoration: none;
    }

    .rodape .informacao .informacao2 h4 {
        font-family: var(--font_primaria);
        font-weight: var(--font_weight_normal);
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
    }

    .rodape .informacao .informacao2 li {
        list-style: none;
        margin-bottom: 0.5rem;
    }

    .rodape .informacao .informacao2 li a {
        color: var(--cor_segundaria);
        text-decoration: none;
    }

    #contato{
        background-color: var(--cor_terciaria);
    }

    .contatos {
        color: var(--cor_segundaria);
        font-family: var(--font_primaria);
        font-weight: var(--font_weight_normal);
        font-size: 1rem;
        
    }

    .contatos h3 {
        color: var(--cor_segundaria);
        font-family: var(--font_primaria);
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .contatos p {
        color: var(--cor_segundaria);
        font-family: var(--font_primaria);
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .contatos h4 {
        color: var(--cor_segundaria);
        font-family: var(--font_primaria);
        font-weight: 400;
        font-size: 1rem;
    }

    .barra{
        height: 0.1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: var(--cor_segundaria);
        border: none;
        border-radius: 0.2rem;
    }

    footer {
        height: 10vh;
        font-family: var(--font_primaria);
        background-color: var(--cor_terciaria);
        color: var(--cor_segundaria);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 1.2rem;

    }

}